<div class="container">
    <div class="pure-g-r" id="layout">
<%= erb :_nav, layout: false %>
        <div class="pure-u-1">
            <div class="content">

                <!-- A wrapper for all the items -->
                <div class="posts">
                    <h1 class="content-subhead">Decks for <%= @user.full_name %></h1>

                    <table class="pure-table">
                      <caption>All Flash Card Decks</caption>
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                          <% @decks.each do |deck| %>
                          <tr>
                              <td><a href="/rounds/1/<%= deck.id %>/1"><%= deck.title %></a></td>
                              <td><%= deck.description %></td>
                          </tr>
                          <% end %>
                      </tbody>
                    </table>

                </div>
<%= erb :_footer, layout: false %>

