<div class="container">
    <div class="pure-g-r" id="layout">
<%= erb :_nav, layout: false %>
        <div class="pure-u-1">
            <div class="content">

                <!-- Dev Mode: Show Errors -->
                <% if @errors %>
                <% @errors.each do |error_message| %>
                <p><%= error_message %></p>
                <% end %>
                <% end %>

                <h1><%= @deck.title %></h1>
                <form id="rounds_form" name="rounds_form" action="/rounds" method="post" class="pure-form pure-form-aligned">
                    <fieldset>
                        <legend><i class="icon-hand-right"></i> <%= @cards[@card_id].question %></legend>

                        <div class="pure-control-group">
                            <input type="text" name="user_input">
                        </div>

                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </fieldset>
                </form>
<%= erb :_footer, layout: false %>
