<div class="container">
    <div class="pure-g-r" id="layout">
<%= erb :_nav, layout: false %>
        <div class="pure-u-1">
            <div class="content">

                <% if @guess.user_input.strip != @guess.card.answer.strip %>
                    <%= "<i class=\"icon-frown\"></i>" %>
                <% else %>
                    <%= "<i class=\"icon-smile\"></i>" %>
                <% end %>

                        <table class="pure-table">
                            <thead>
                                <tr>
                                    <th>Your Answer:</th>
                                    <th>Correct Answer:</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><%= @guess.user_input %></td>
                                    <td><%= @guess.card.answer %></td>
                                </tr>
                            </tbody>
                        </table>

                        <h3><a href="/rounds/<%= session[:deck_id] %>/<%= session[:card_id] %>">Next</a></h3>
<%= erb :_footer, layout: false %>
